.admin-search-select {
    flex: 1;
    flex-shrink: 0;
    .ant-select-selection-item {
        max-width: 500px !important;
        padding-right: 4px;

        .ant-select-selection-item-content {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.dot {
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 7px 0;
    &:before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 100%;
    }
    &._green {
        color: var(--green-color);
        &:before {
            background-color: var(--green-color);
        }
    }
    &._red {
        color: var(--red-color);
        &:before {
            background-color: var(--red-color);
        }
    }
    &._orange {
        color: var(--star-color);
        &:before {
            background-color: var(--star-color);
        }
    }
    &._dark_orange {
        color: var(--darked-star-color);
        &:before {
            background-color: var(--darked-star-color);
        }
    }
}

.text-clamp {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    display: -webkit-box;
    overflow: hidden;
    height: 22px;
    &._two-line {
        -webkit-line-clamp: 2;
        height: 44px;
    }
}

.load-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: screen .1s 1s linear forwards;
}

@keyframes screen {
    from {
        background-color: rgba(255, 255, 255, 0);
    }
    to {
        background-color: rgba(255, 255, 255, 0.6);
    }
}